/* NEW CHANGES */
body {
    background-color: #E2FAE0 !important;
	/*background-color: #E2FAE0; */
	}
header {
   
	/*background-color:#89B286;*/
    color:white;
    /*text-align:center; */
    height:50px;
	margin-bottom:10px;
	display:block;
	
}	
	
.logo{
	position:absolute;
	margin-left:10px;
	top:10px;
	z-index:10;
	border: 6px solid #2A7E01;

}

.menu-band{

	background-color:#2A7E01;
	height:50px;
	font-size: 50%;
	margin-top:40px;
	text-align:right;
}
.menu-band h2{
	margin-top: 3px !important;
	margin-left:100px !important;
    padding-top:0px !important;
	color:white;
    font-size:28px;
	}
.menu-band i.fa{	
	font-size: 25px;
	margin-top: 10px;
	margin-right:10px;
	color:white;	
	
	}
.item{
	background: url(../images/slider-bg.jpg) repeat !important;	
}

.item h3{
	color:#2A7E01;
	font-weight:bold;
	font-size:30px;
}
.item h2{
	color:#d1d1d1;
	font-weight:bold;
	display:none;
}
.item p{
	color:#d5d5d5;
	font-size:15px;
    max-height: 50px;
overflow: hidden;
}
.bible-links{
text-align:center;

}
.bible-links div{
text-align:center;

}
footer {
    background-color:#2A7E01;
    color:white;
	text-align:center;
  	display:block;
	font-size: 12px;
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	
}
footer a{
    
    color:white;
	
	
	
}

/* NEW CHANGES */

.play-controls {
    margin-top:20px;
	
	
}
.home{
	margin-top:50px;
	
}
.verse-box{
	border: 2px solid #a1a1a1;
    padding: 5px 10px; 
    background: #FCFCFC;
    min-height: 150px;
   
}
.verse-box1{
	border: 2px solid #a1a1a1;
    padding: 5px 10px; 
    background: #FCFCFC;
    min-height: 75px;
	margin-top:10px;
   
}
.study-toolbar{
	border: 2px solid #a1a1a1;
    background: #FCFCFC;
    padding: 8px;
    
}
.sel-size{

  margin-top:30px;
}
table, th, td {
   border: 1px solid black;
   border-spacing: 5px;
   border-collapse: separate;
}
td{
	width:300px;
	padding: 10px;
}
.play-controls1 .fa-play{
	color:white;
	font-size: 50%;
	
}
.play-controls .fa{
	color:white;
	font-size: 50%;
	margin-top:10px;
	
}

.play-controls .fa, .main-panel .fa{
	color:white;
	font-size: 40%;
	margin-top:16px;
	
}

.play-controls .fa-list{
	font-size:45%;
}
.button-bg
{
	width:60px;
	height:60px;
	border-radius:50%;
	font-size:50px;
	background: #89B286;
	text-align:center;
	border: 3px solid white;
	margin-top:25px;
	margin-left:10px;
	margin-right:10px;
}
.button-bg1
{
	width:60px;
	
	font-size:50px;
	background: #89B286;
	text-align:center;
	border: 3px solid white;
	margin-top:25px;
	margin-left:10px;
	margin-right:10px;
}
.button-bg2
{
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:50px;
	background: #89B286;
	text-align:center;
	border: 3px solid white;
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
}

.play-controls1 .fa{
	margin-top:10px;
	color:white;
	font-size: 50%;
}
h6{
	margin-left:-6px;
}
.highlight { 
	background-color: #ff2;
}
