header {
    background-color:#89B286;
	/*background-color:#89B286;*/
    color:white;
    text-align:center;
    padding:15px;	 
	height:50px;
	margin-top:10px;
}
.container {
background: #E2FAE0;

}
p {
    
}
body {
	background-color: #E2FAE0; 
	}
footer {
    background-color:#E2FAE0;
	height:40px;
	position:absolute;
	bottom:0;
	
	
	
}
.play-controls {
    margin-top:20px;
	
	
}
.home{
	margin-top:50px;
	
}
.verse-box{
	border: 2px solid #a1a1a1;
    padding: 5px 10px; 
    background: #FCFCFC;
    min-height: 150px;
   
}
.verse-box1{
	border: 2px solid #a1a1a1;
    padding: 5px 10px; 
    background: #FCFCFC;
    min-height: 75px;
	margin-top:10px;
   
}
.study-toolbar{
	border: 2px solid #a1a1a1;
    background: #FCFCFC;
    padding: 8px;
    
}
.sel-size{

  margin-top:30px;
}
table, th, td {
   border: 1px solid black;
   border-spacing: 5px;
   border-collapse: separate;
}
td{
	width:300px;
	padding: 10px;
}
.play-controls1 .fa-play{
	color:white;
	font-size: 50%;
	
}
.play-controls .fa{
	color:white;
	font-size: 50%;
	margin-top:10px;
	
}

.play-controls .fa, .main-panel .fa{
	color:white;
	font-size: 40%;
	margin-top:16px;
	
}

.menu-band{
	background-color:#89B286;
	color:green;
	font-size: 50%;
	margin-top:10px;
	
}
.play-controls .fa-list{
	font-size:45%;
}
.button-bg
{
	width:60px;
	height:60px;
	border-radius:50%;
	font-size:50px;
	background: #89B286;
	text-align:center;
	border: 3px solid white;
	margin-top:25px;
	margin-left:10px;
	margin-right:10px;
}
.button-bg1
{
	width:60px;
	
	font-size:50px;
	background: #89B286;
	text-align:center;
	border: 3px solid white;
	margin-top:25px;
	margin-left:10px;
	margin-right:10px;
}
.button-bg2
{
	width:50px;
	height:50px;
	border-radius:50%;
	font-size:50px;
	background: #89B286;
	text-align:center;
	border: 3px solid white;
	margin-top:15px;
	margin-left:10px;
	margin-right:10px;
}

.play-controls1 .fa{
	margin-top:10px;
	color:white;
	font-size: 50%;
}
h6{
	margin-left:-6px;
}
.highlight { 
	background-color: #ff2;
}
